In [1]:
%matplotlib inline

In [7]:
from TradingviewData import TredingViewData,Interval

In [8]:
# initialize tradingview

tv = TredingViewData()

In [9]:
tv.get_hist('AAPL','NASDAQ',)

,symbol,open,high,low,close,volume
datetime,,,,,,
2023-01-30 20:00:00,NASDAQ:AAPL,144.955,145.5500,142.850,143.00,64015274.0
2023-01-31 20:00:00,NASDAQ:AAPL,142.700,144.3400,142.280,144.29,65874459.0
2023-02-01 20:00:00,NASDAQ:AAPL,143.970,146.6100,141.320,145.43,77663633.0
2023-02-02 20:00:00,NASDAQ:AAPL,148.900,151.1800,148.170,150.82,118338980.0
2023-02-03 20:00:00,NASDAQ:AAPL,148.030,157.3800,147.830,154.50,154357337.0
2023-02-06 20:00:00,NASDAQ:AAPL,152.575,153.1000,150.780,151.73,69858306.0
2023-02-07 20:00:00,NASDAQ:AAPL,150.640,155.2300,150.640,154.65,83322551.0
2023-02-08 20:00:00,NASDAQ:AAPL,153.880,154.5800,151.168,151.92,64120079.0
2023-02-09 20:00:00,NASDAQ:AAPL,153.775,154.3300,150.420,150.87,56007143.0
2023-02-10 20:00:00,NASDAQ:AAPL,149.460,151.3401,149.220,151.01,57450708.0

In [6]:
nifty_data=tv.get_hist('NIFTY','NSE',interval=Interval.hour_1,n_bars=1000)

nifty_data

,symbol,open,high,low,close,volume
datetime,,,,,,
2022-07-15 12:15:00,NSE:NIFTY,15949.45,15983.05,15927.30,15979.50,21558646.0
2022-07-15 13:15:00,NSE:NIFTY,15980.05,15992.25,15945.10,15992.25,25357416.0
2022-07-15 14:15:00,NSE:NIFTY,15993.65,16054.30,15987.90,16053.25,39190692.0
2022-07-15 15:15:00,NSE:NIFTY,16052.90,16066.95,16044.10,16052.85,19423958.0
2022-07-18 09:15:00,NSE:NIFTY,16152.30,16199.70,16142.20,16184.80,53958590.0
...,...,...,...,...,...,...
2023-02-10 11:15:00,NSE:NIFTY,17866.60,17876.95,17820.35,17823.75,21562199.0
2023-02-10 12:15:00,NSE:NIFTY,17824.15,17842.95,17815.90,17822.70,24809266.0
2023-02-10 13:15:00,NSE:NIFTY,17822.85,17859.25,17815.10,17850.55,38897505.0
2023-02-10 14:15:00,NSE:NIFTY,17850.10,17865.15,17823.65,17861.80,38252608.0
2023-02-10 15:15:00,NSE:NIFTY,17862.10,17864.40,17840.00,17843.35,17747095.0

In [5]:
nifty_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2022-07-15 12:15:00 to 2023-02-10 15:15:00
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   symbol  1000 non-null   object
 1   open    1000 non-null   float64
 2   high    1000 non-null   float64
 3   low     1000 non-null   float64
 4   close   1000 non-null   float64
 5   volume  1000 non-null   float64
dtypes: float64(5), object(1)
memory usage: 54.7+ KB

In [ ]:
nifty_data.close.plot(figsize=(15,10),use_index=False)

In [ ]:
# futures data
crudeoil_data=tv.get_hist('CRUDEOIL','MCX',Interval.in_2_hour,n_bars=5000,fut_contract=1)

In [ ]:
crudeoil_data.close.plot(figsize=(15,10))

In [ ]:
# cryptocurrencies
btc_data=tv.get_hist('BTC','CME',Interval.in_1_minute,n_bars=5000,fut_contract=1)

In [ ]:
btc_usd_data=tv.get_hist('BTCUSD','BINANCE',Interval.in_1_hour,n_bars=5000)

In [ ]:
btc_usd_data.close.plot(figsize=(15,10))

In [ ]:
etheur_data=tv.get_hist('ETHEUR','BINANCE',Interval.in_1_minute,5000)

In [ ]:
etheur_data.close.plot(figsize=(15,10))

In [ ]:
# plotting candlesticks chart

import mplfinance as mpf

In [ ]:
mpf.plot(etheur_data.head(100),type='candle',style='yahoo',volume=True)

In [ ]:
etheur_data.to_csv('etheur.csv')

In [ ]:
tv.search_symbol('WTI')